body {

    /*background:papayaWhip*/
    background: Cornsilk;
    font-family: Papyrus, Comic-sans, Arial, Helvetica, sans-serif, Wingdings, Webdings;
}

section.main   {
padding:2em;

}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:AntiqueWhite;
    font-size: smaller;
    width: 13%;
/*    margin: auto;*/
padding-left: 2em;
}

/*p {
  border: 2px solid red;
  border-radius: 5px;
}*/