body {

    /*background:papayaWhip*/
    background: MediumAquaMarine;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:LightSeaGreen;
    font-size: smaller;
}